<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 50 + (i*100)}"
    [playerActive]="i == game.currentPlayer" [name]="player" class="player_position hide-mobile"></app-player>

<div class="scroll_container hide-desktop">
    <app-player-mobile *ngFor="let player of game.players; let i = index;" 
        [playerActive]="i == game.currentPlayer" [name]="player" class="app-player-mobile">
    </app-player-mobile>
</div>


<div class="game_field">
    <div class="card_stack">
        <!-- Card Stack -->
        <img [ngStyle]="{'right.px': i*5}" *ngFor="let card of [0,1,2,3]; let i = index;"
            src="assets/cards/red_back.png">
        <img (click)="takeCard()" class="top_card" style="right: 25px;" src="assets/cards/red_back.png">
        <!-- Played Cards Stack -->
        <img *ngFor="let card of game.playedCards" class="played_card" src="assets/cards/{{ card }}.png">
        <!-- Current Card Animation -->
        <img (click)="takeCard()" *ngIf="game.takeCardAnimation" class="take_card" style="right: 25px;"
            src="assets/cards/{{ game.currentCard }}.png">
    </div>
</div>

<app-game-info [card]="this.game.currentCard" class="game_info"></app-game-info>

<button (click)="openDialog()" class="button_add" mat-fab color="primary"
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>